ul {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(210, 202, 202);
}

li {
    background: white;
}



button {
    width: 100px;
    height: 20px;
    color: blue;
}

.empty {
    color: red;
}